In [67]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.4.0-py2.py3-none-any.whl (86 kB)
Requirement already satisfied: numpy>=1.14.0 in d:\sample projects\sample_project2\env\lib\site-packages (from category_encoders) (1.19.2)
Requirement already satisfied: scipy>=1.0.0 in d:\sample projects\sample_project2\env\lib\site-packages (from category_encoders) (1.6.2)
Requirement already satisfied: scikit-learn>=0.20.0 in d:\sample projects\sample_project2\env\lib\site-packages (from category_encoders) (0.23.1)
Requirement already satisfied: statsmodels>=0.9.0 in d:\sample projects\sample_project2\env\lib\site-packages (from category_encoders) (0.12.2)
Requirement already satisfied: pandas>=0.21.1 in d:\sample projects\sample_project2\env\lib\site-packages (from category_encoders) (1.0.5)
Requirement already satisfied: patsy>=0.5.1 in d:\sample projects\sample_project2\env\lib\site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: python-dateutil>=2.6.1 in d:\sample projects\sample_project2\env\lib\site-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in d:\sample projects\sample_project2\env\lib\site-packages (from pandas>=0.21.1->category_encoders) (2021.1)
Requirement already satisfied: six in d:\sample projects\sample_project2\env\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=0.11 in d:\sample projects\sample_project2\env\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\sample projects\sample_project2\env\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.4.0

In [109]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # data visualization
import seaborn as sns # statistical data visualization
%matplotlib inline
import warnings

warnings.filterwarnings('ignore')

In [110]:
df = pd.read_csv('data/car_evaluation.csv', header=None)

In [111]:
df.shape

(1728, 7)

In [112]:
df.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [113]:
col_names = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']


df.columns = col_names

col_names

['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [115]:
col_names = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']


for col in col_names:
    
    print(df[col].value_counts())

high     432
med      432
vhigh    432
low      432
Name: buying, dtype: int64
high     432
med      432
vhigh    432
low      432
Name: maint, dtype: int64
5more    432
2        432
3        432
4        432
Name: doors, dtype: int64
2       576
more    576
4       576
Name: persons, dtype: int64
med      576
small    576
big      576
Name: lug_boot, dtype: int64
high    576
med     576
low     576
Name: safety, dtype: int64
unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [116]:
df['class'].value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [117]:
df.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

In [118]:
X = df.drop(['class'], axis=1)

y = df['class']

In [122]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

In [123]:
X_train.shape, X_test.shape

((1157, 6), (571, 6))

In [124]:
X_train.head()

     buying  maint  doors persons lug_boot safety
48    vhigh  vhigh      3    more      med    low
468    high  vhigh      3       4    small    low
155   vhigh   high      3    more    small   high
1721    low    low  5more    more    small   high
1208    med    low      2    more    small   high

In [125]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [127]:
col_names1 = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety']
for i in col_names1:
    X_train[i] = encoder.fit_transform(X_train[i])
print("Encoded data")
X_train.head()

Encoded data

      buying  maint  doors  persons  lug_boot  safety
48         3      3      1        2         1       1
468        0      3      1        1         2       1
155        3      0      1        2         2       0
1721       1      1      3        2         2       0
1208       2      1      0        2         2       0

In [128]:
col_names1 = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety']
for i in col_names1:
    X_test[i] = encoder.fit_transform(X_test[i])
print("Encoded data")
X_test.head()

Encoded data

      buying  maint  doors  persons  lug_boot  safety
599        0      0      2        0         1       0
1201       2      1      0        1         1       2
628        0      0      3        0         0       2
1498       1      0      3        1         1       2
1263       2      1      2        2         1       1

In [132]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(random_state=0)
rfc.fit(X_train, y_train)
y_pred = rfc.predict(X_test)

In [130]:

from sklearn.metrics import accuracy_score

print('Model accuracy score with 10 decision-trees : {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Model accuracy score with 10 decision-trees : 0.9545